<header>
        <h1>DETALLES DEL PRODUCTO:</h1>
</header>
<main>
    <ul>
        <li>ID: {{product._id}}</li>
        <li>Titulo: {{product.title}}</li>
        <li>Descripción: {{product.price}}</li>
        <li>Código: {{product.code}}</li>
        <li>Precio: {{product.price}}</li>
        <li>Estado: {{product.status}}</li>
        <li>Stock: {{product.stock}}</li>
        <li>Categoria: {{product.category}}</li>
    </ul>
    <img src="/public/images/{{product.thumbnail}}" alt="Imagen no encontrada">
    <br>
    <button onclick="window.history.back()">Volver</button>
</main>